@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600;700;800;900&family=Frank+Ruhl+Libre:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(216, 216, 216);
  display: grid;
  max-width: 62.5rem;
  margin: 0 auto;
  grid-auto-flow: auto;
  grid-auto-rows: auto;
}

/* CABBE - some parent header style to target everything in header */
.header {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Define six columns */
  grid-template-rows: repeat(2, 1fr); /* Define two rows */
}
/* Style for blue box in the header at the left */
.left {
  grid-column: 1; /* Start at column 1 */
  grid-row: 1 / span 2; /* Start at row 1 and span 2 rows */
  background-color: #c7ddea;
  width: 501px;
  height: 544px;
  left: 219px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Style for img with whole family in blue box in header */
.left img {
  width: 286px;
  height: 279px;
  top: 0; /* Adjust the top position */
  left: 265; /* Adjust the left position */
  transform: translate(215px, 265px); /* Use transform for positioning */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
/* Style for red/orange box in the header at the top right */
.right-top {
  grid-column: 2; /* Start at column 2 */
  grid-row: 1; /* Start at row 1 */
  background-color: #f17949;
  width: 501px;
  height: 272px;
  left: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Style for yellow/orange box in the header at the bottom right */
.right-bottom {
  grid-column: 2; /* Start at column 2 */
  grid-row: 2; /* Start at row 2 */
  background-color: #ffb939;
  width: 501px;
  height: 272px;
  top: 272px;
  left: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Style the text in blue box in header */
.covered-text {
  width: 314px;
  height: 101px;
  top: 71px;
  left: 324px;
  font-family: "Frank Ruhl Libre", sans-serif;
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
  letter-spacing: -0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 85px;
}
/* Style the text in blue box in header */
.togheter-text {
  width: 268px;
  height: 103px;
  top: 172px;
  left: 324px;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000099;
  margin-left: 85px;
}
/* Style the text in blue box in header */
.togheter-text strong {
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

/* styles for the Join now button in header blue box at the left */
.button-join {
  width: 131px; /* Set the width */
  height: 39px; /* Set the height */
  top: 326px; /* Set the top position */
  left: 324px; /* Set the left position */
  border-radius: 100px; /* Rounded corners to create a circle */
  background-color: #ffffff; /* white background color */
  color: rgba(0, 0, 0, 0.8); /* White text color */
  font-family: "Fira Sans";
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 85px;
}
.button-join:hover {
  background-color: #f3f8f8;
}
/* Style for the text in red/orange box in the header at the top right */
.offer-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 13.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #00000080;
  margin-top: 10px;
}
/* Style for the text in red/orange box in the header at the top right */
.learn-more-text {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 41.31px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Style for the text in yellow/orange box in the header at the bottom right */
.wating-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 13.2px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #00000080;
  margin-top: 10px;
}
/* Style for the text in yellow/orange box in the header at the bottom right */
.join-text {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 41.31px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* style for the navbar */
.nav {
  grid-column: span 6;
  max-width: 1000px; /* Add max-width to .page */
  margin: 0 auto; /* Center the page horizontally */
  margin-bottom: 20px;
  margin-top: 20px;
}
.navbar nav ul li {
  display: inline-block; /* Display menu items horizontally */
  margin-right: 60px; /* Add space between menu items */
  margin-left: 60px; /* Add space between menu items */
  list-style-type: none;
}
.navbar nav a {
  text-decoration: none; /* Remove underlining */
  color: #000; /* Change link color to your desired color */
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: -0.02em;
  opacity: 0.4;
}

/* GEMENSAMT */

.main {
  grid-column: span 6;
}

/* MAIN TOP */

.main_top {
  grid-column: span 6;
  background-color: #a9a19e;
  width: 62.625rem;
  height: 38.25rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  height: 14.8175rem;
  display: flex;
  justify-content: space-between;
  margin-top: 6.44rem;
  margin-left: 6.69rem;
}

.safety_net {
  color: #fff;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.05625rem;
  width: 19.625rem;
  height: 8.75rem;
}

.txt {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Fira Sans", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  width: 17.5rem;
  height: 14.8125rem;
  margin-top: 6.44rem;
  margin-right: 8.06rem;
}

.join {
  width: 8.1875rem;
  height: 2.4375rem;
  border-style: none;
  border-radius: 6.25rem;
  background: #fff;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 3 vita boxarna med profilkort och box i profilkort */
.white_boxes {
  width: 62.5rem;
  display: flex;
  justify-content: center;
  gap: 1.69rem;
}
.profilecard {
  width: 16rem;
  height: 19.25rem;
  border-radius: 0.3125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  margin-top: 7.06rem;
  background-color: white;
  position: relative;
}
/* css style for all the boxes in the profilecards */
.box {
  width: 236px;
  height: 150px;
  border-radius: 4px;
  position: absolute;
  overflow: hidden;
  top: -25px; /* Adjust the top position relative to .profilecard */
  left: 10px; /* Adjust the left position relative to .profilecard */
}
/* color for the boxes in the profilecards */
.box-1 {
  background-color: rgba(199, 221, 234, 1);
}
.box-2 {
  background-color: rgba(250, 177, 49, 1);
}
.box-3 {
  background-color: rgba(241, 121, 73, 1);
}
/* Imgs in box-1 , box-2 , box-3*/
/* Child img */
.box-1 img {
  width: 96.42;
  height: 161.99px;
  top: 11px;
  left: 80px;
  position: absolute;
}
/* Adult img */
.box-2 img {
  width: 103.77px;
  height: 433px;
  top: 10px;
  left: 60px;
  position: absolute;
}
/* old man img */
.box-3 img {
  width: 133.56px;
  height: 364.1px;
  top: 10px;
  left: 51.98px;
  position: absolute;
}
/* the text in all the profilecards style etc */
.profilecard figcaption {
  text-align: center; /* Center-align the text */
  margin-top: 140px; /* Add some top margin to separate it from the image */
 
}
.profilecard h4 {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px; /* Adjust the font size */
  font-weight: 700;
  line-height: 20px;
  margin: 10px 0; /* Add margin for spacing */
}
.profilecard p {
  font-family: "Fira Sans";
  font-size: 11px; /* Adjust the font size */
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4); /* Adjust the text color */
  margin: 10px 0; /* Add margin for spacing */
  width: 214px;
  height: 108px;
  margin-left: 21px;
}

/* MAIN BOTTOM */

.main_bottom {
  grid-column: span 6;
  background-color: #fab131;
  width: 62.625rem;
  height: 42.5rem;
}

.about_us {
  color: #fff;
  text-align: center;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.05625rem;
  padding-top: 11.69rem;
}

.about_us_txt {
  color: rgba(0, 0, 0, 0.6);
  padding-left: 17.56rem;
  padding-right: 16.44rem;
  padding-top: 2rem;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
}

/* DE 6 LÅDORNA */

.boxes {
  grid-column: span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.box_1 {
  background-color: #c7ddea;
  grid-column: span 2;
  height: 21.25rem;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.8125rem;
  letter-spacing: -0.05625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box_2,
.box_4,
.box_6 {
  background-color: white;
  grid-column: span 2;
}

.box_3 {
  background-color: rgb(216, 216, 216);
  grid-column: span 2;
}

.box_5 {
  background-color: #f17949;
  grid-column: span 2;
  height: 21.25rem;
}

h2 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 2.188rem;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 900;
  line-height: 2.188rem;
  padding: 2rem;
}

.boxes section p {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  padding-top: 3rem;
}

/* FOOTER */
.footer {
  grid-column: span 6;
  background-color: #a9a19e;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Fira Sans", sans-serif;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  height: 4.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.25rem;
  position: relative;
}

.pil {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom {
  grid-column: span 6;
  background-color: #777574;
  width: 62.5rem;
  height: 21.25rem;
}

.up_again {
  padding: 0;
  margin-top: 0.1rem;
}
