* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: rgb(218, 218, 218);
  }
  
.page {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    max-width: 62.5rem;
    margin: 0 auto;

   
    
    grid-auto-rows: auto;
  }

  .header {
    grid-column: span 6;
  }

  .nav{
    grid-column: span 6;
    background-color: rgb(218, 218, 218);
  }

  .main {
    grid-column: span 6;
  }

  .main_top {
    background-color: rgb(178, 178, 178);
  }

  .main_bottom {
    background-color: rgb(251, 207, 126);
  }

  .section {
    grid-column: span 6;
  }
  .footer {
    grid-column: span 6;
    background-color: rgb(178, 178, 178);
  }

  .bottom {
    grid-column: span 6;
    background-color: grey;
  }